<div class='jumbotron'>
	<h1><small>Welcome to the </small>Silex Index.</h1>
	<p>The preimer directory for companies seeking a marketing service firm.</p>
	<p class='text-primary'><small>The Silex Index narrows your search to the marketing service companies that fit your companies unique position. We draw upon our expanding database to find the best marketing firms that will acheive your company's growth goals.</p>
	<p>Select from the categories of marekting services across the top. Then your companies industry and metro area where the marketing firm is located on the left. Submit your request to discover how many marketing service companies fit your criteria.</small></p>
<!-- 	<a href='#/result'><button class='btn btn-primary pull-right' ng-click='retrieveCount()'>Find Marketing Firms</button></a> -->

</div>
