<!DOCTYPE html>
<html>
<!-- ng-app='silexIndex'> -->
<head>
	<meta charset="UTF-8">
	<title>Silex Index</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
 	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-route.min.js"></script>
	<script type='text/javascript' src='../script.js'></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
	.searchlabel{
		margin: 20% 0 2% 0;
	}
	.checkbox{
		margin: 0 1% 0 2%;
	}
	.searchbutton{
		margin: 10% 0 0 0;
	}
	</style>
</head>
<body>
	<nav class='navbar navbar-default'>
		<div class='container-fluid'>
			<div class='navbar-header'>
				<a class='navbar-brand' href='/'><img alt='silexlogo' src='../images/silexlogo.png'/></a>
			</div>
		</div>
	</nav>
</body>
</html>
<div class='container'>
	<div class='row'>
		<div class='col-sm-4'>
			<form action='authenticate' method='post'>
				<div class='form-group'>
					<input type='text' class='form-control' name='username' placeholder='username'>
				</div>
				<div class='form-group'>
					<input type='password' class='form-control' name='password' placeholder='password'>
				</div>
				<input type='submit' class='btn btn-lg btn-info pull-right' value='Enter'>
			</form>
		</div>
	</div>
</div>
<html>





















